.gb_Ve {
    height: 25px;
    color: rgb(0, 0, 0);
}
.gb_Ca {
    border-radius: 50%!important;
}
.flex-container {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding-top:1pc;
    padding-left:2pc;
    padding-right: 2pc;
}
.menu {
    width:100pc;
    height: 1pc;
}
.menu li {
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
a {
    color: black;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    text-decoration: none;
  }
a:hover {
    color: black;
    text-decoration: underline;
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right:auto;
  }
  .searchbar {
    display: flex;
    align-items: center!important;
    width: 580px;
    height: 45px;
    padding: 10px;
    border: 1px solid;
    border-radius: 40px;
    border-color: rgb(201, 201, 201);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2pc;
    margin-bottom: 2pc;
  }
  .searchbar:hover, .searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
  .search-icon {
    width: 20px;
    margin-right: 10px;
  }
  .search-input {
    width: 100%;
    height: 100%;
    border: none;
  }
  .microphone-icon {
    width: 25px;
    height: 25px;
  }
  input[type="submit" i] {
    border-radius: 4px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f8f9fa;
    border: none;
    color: #202124;
  }
  input[type="submit" i]:hover {
    border-radius: 4px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3pc;
    background-color: #f2f2f2;
  }
  footer a {
      color: #70757a;
  }
  .leaf {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    white-space: nowrap;
    color: #70757a;
    height: 14px;
    margin-right: 6px;
  }